/**
 * sass/theme/index.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2026.01.01)
 * @copyright 2026 (2026.01.01)
**/

// LOAD THEME META
    @use "theme/meta" as *;

// LOAD PARTIALS