/**
 * sass/theme/buttons.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2026.01.01)
 * @copyright 2026 (2026.01.01)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "text" as *;
    @use "links" as *;
    @use "borders" as *;
    @use "../variables/index" as *;

// BUTTON SETTINGS
    $button-text: $body-text;
    $button-text-size: $body-text-size;
    $button-text-style: none;
    $button-text-weight: 400;
    $button-border-radius: 0.25rem;
    $button-border-width: $border-outline-width;
    $button-margin-vertical: $margin-sm;
    $button-margin-horizontal: $margin-none;
    $button-padding-vertical: $padding-xs;
    $button-padding-horizontal: $padding-md;

// BUTTON-SOLID
    $button-solid-color: $link-color;
    $button-solid-text-color: $text-color-white;
    $button-solid-hover-color: $link-hover-color;
    $button-solid-hover-text-color: $text-color-white;

// BUTTON-ALT
    $button-alt-color: $color-grayscale-light-12;
    $button-alt-text-color: $link-color;
    $button-alt-hover-color: $link-hover-color;
    $button-alt-hover-text-color: $text-color-white;

// BUTTON-GHOST
    $button-ghost-color: transparent;
    $button-ghost-text-color: $link-color;
    $button-ghost-hover-color: $link-color;
    $button-ghost-hover-text-color: $text-color-white;

// BUTTON-MOBILE
    $button-mobile-color: $button-solid-color;
    $button-mobile-text-color: $button-solid-text-color;

// BUTTON-TEXT
    $button-text-color: $link-text-color;
    $button-text-hover-color: $link-hover-text-color;
    $button-text-weight: 700;