/**
 * sass/theme/colors.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2025.06.10)
 * @copyright 2025 (2025.06.10)
**/

// LOAD PARTIALS
// SCGOLFPANEL BRAND COLLECTION
    $color-scgolfpanel-green: #046a38;
    $color-scgolfpanel-brown: #89764b;
    $color-scgolfpanel-beige: #cbc793;
    $color-scgolfpanel-indigo: #041e42;
    $color-scgolfpanel-gold: #ffb600;