/**
 * sass/theme/components.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2025.09.15)
 * @copyright 2025 (2025.09.15)
**/

// LOAD PARTIALS
    @use "tables" as *;
    @use "borders" as *;
    @use "buttons" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS
// ACCORDIONS
    $accordion-padding: $padding-sm;
    $accordion-font-size: 1.25rem;
    $accordion-row-odd-background: $color-scgolfpanel-beige-light-12;
    $accordion-row-even-background: $color-scgolfpanel-beige-light-12;

// CARDS
    $card-post-background: $color-scgolfpanel-beige-light-10;

// FORMS
    $form-input-border: $border-outline-width solid $color-scgolfpanel-beige-0;
    $form-input-radius: $button-border-radius;
    $form-input-padding: $padding-xs;

// IMAGES
    $image-border: $border-outline-width solid $color-scgolfpanel-brown-0;

// TABS