/**
 * sass/theme/footer.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2025.09.15)
 * @copyright 2025 (2025.09.15)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "text" as *;
    @use "gradients" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS
// FOOTER-PRIMARY
    $footer-primary-overlay: $gradient-3;
    $footer-primary-padding: $padding-md;
    $footer-primary-text-color: $text-color-white;

// FOOTER-SECONDARY
    $footer-secondary-background: $color-grayscale-dark-12;
    $footer-secondary-text-color: $text-color-white;
    $footer-secondary-padding: $padding-sm;