/**
 * sass/theme/global.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2026.01.01)
 * @copyright 2026 (2026.01.01)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "../variables/index" as *;

// SITE BACKGROUND COLOR
    $html-background-color: $color-scgolfpanel-beige-light-10;
    $body-background-color: $color-grayscale-light-12;

// SITE WIDTH SETTINGS
    $site-width-min: 90.00%;
    $site-width-max: 100.00%;
    $site-width-content: 1400px;

// GUTTERS
    // ROWS
        $gutter-row: 0.00rem;
        $gutter-row-vertical: $gutter-row * 1.00;
        $gutter-row-horizontal: $gutter-row * 1.00;

    // COLUMNS
        $gutter-columns: $unit-base;
        $gutter-columns-vertical: $gutter-columns * 1.00;
        $gutter-columns-horizontal: $gutter-columns * 1.00;

// BORDERS
    // -WIDTHS
        $border-width: 0.20rem;
        $border-outline-width: 1px;

    // -RADIUS
        $border-radius: 0.00rem;

    // -COLORS
        $border-color: $color-grayscale-light-12;
        $border-alt-color: $color-scgolfpanel-brown-0;
        $border-accent-color: $color-scgolfpanel-gold-0;

    // SETTINGS
        $border-section: $border-width solid $border-color;
        $border-outline: $border-outline-width solid $border-color;
        $border-image: $border-outline-width solid $border-alt-color;

// ICONS
    $icon-margin: $margin-xs;

// LINKS
    // COLORS
        $link-color: $color-scgolfpanel-green-0;
        $link-hover-color: $color-scgolfpanel-green-dark-3;

    // HOVER ADJUSTMENTS
        $link-hover-adjustment: 3.00;
        $link-hover-adjustment-color: $color-adjustment-dark;

// SHADOWS
    $shadow-main: 0.00rem 0.00rem 0.50rem rgba($color-grayscale-dark-9, 0.10);
    $shadow-text: 0.00rem 0.00rem 0.50rem rgba($color-grayscale-dark-9, 0.90);