/**
 * sass/theme/header.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2025.09.15)
 * @copyright 2025 (2025.09.15)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "text" as *;
    @use "gradients" as *;
    @use "heroes" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS

// HEADER-HOME
    $header-home-height-mobile: $hero-primary-height-mobile;
    $header-home-height-desktop: $hero-primary-height-desktop;

// HEADER-SUBPAGE
    $header-subpage-height-mobile: $hero-secondary-height-mobile;
    $header-subpage-height-desktop: $hero-secondary-height-desktop;

// HEADER-PADDING
    $header-padding: $hero-padding;

// HEADER-TEXT
    $header-text-color: $text-color-white;

// HEADER-MOBILE
    $header-mobile-background: $color-scgolfpanel-brown-0;