/**
 * sass/theme/heroes.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2025.09.15)
 * @copyright 2025 (2025.09.15)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "text" as *;
    @use "gradients" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS
// HEROES
    $hero-padding: $padding-sm;
    $hero-overlay: $gradient-1;
    $hero-text-color: $text-color-white;

    // HERO-HOME
        $hero-home-height-mobile: 75.00vh;
        $hero-home-height-desktop: 75.00vh;

    // HERO-SUBPAGE
        $hero-subpage-height-mobile: 10.00rem;
        $hero-subpage-height-desktop: 15.00rem;