/**
 * sass/variables/lists.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2025.09.15)
 * @copyright 2025 (2025.09.15)
**/

// LOAD PARTIALS

// TEXT
    // HEADINGS
        $text-headings-h1: "h1, .h1";
        $text-headings-h2: "h2, .h2";
        $text-headings-h3: "h3, .h3";
        $text-headings-h4: "h4, .h4";
        $text-headings-h5: "h5, .h5";
        $text-headings-h6: "h6, .h6";
        $text-headings-primary: "#{$text-headings-h1}, #{$text-headings-h2}, #{$text-headings-h3}, #{$text-headings-h4}";
        $text-headings-secondary: "#{$text-headings-h5}, #{$text-headings-h6}";
        $text-headings-all: "#{$text-headings-h1}, #{$text-headings-h2}, #{$text-headings-h3}, #{$text-headings-h4}, #{$text-headings-h5}, #{$text-headings-h6}";

    // BODY
        $text-body-p: "p, .p";
        $text-body-lists: "ol, .ol, ul, .ul";
        $text-body-li: "li, .li";
        $text-body-span: "span, .span";
        $text-body-all: "#{$text-body-p}, #{$text-body-li}, #{$text-body-span}";

    // LINKS
        $text-links: "a, .a";
        $text-links-all: "#{$text-links}";

    // TEXT-ALL
        $text-all: "#{$text-headings-all}, #{$text-body-all}, #{$text-links-all}";

// BUTTONS
    $button-solid: ".button, .button-solid, .button-primary, .bricks-button";
    $button-alt: ".button-alt, .button-secondary";
    $button-ghost: ".button-ghost";
    $button-mobile: ".button-mobile";
    $button-all: "#{$button-solid}, #{$button-alt}, #{$button-ghost}, #{$button-mobile}";

// ACCORDIONS
    $accordion-parent: ".brxe-accordion-nested";
    $accordion-item: ".brxe-block.listening";

// FORMS
    $forms-parent: ".frm_forms";

// SECTIONS
    $sections-all: ".section, .section-alt";