/**
 * sass/base/paddings.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2026.08.29)
 * @copyright 2026 (2026.01.01)
**/

// LOAD PARTIALS
    @use "../theme/index" as *;
    @use "../variables/index" as *;

// MAPS
    $padding-sizes: (
        "none": $padding-none,
        "xxs":  $padding-xxs,
        "xs":   $padding-xs,
        "sm":   $padding-sm,
        "md":   $padding-md,
        "lg":   $padding-lg,
        "xl":   $padding-xl,
        "xxl":  $padding-xxl,
    );

    $padding-directions: (
        "top":    "padding-top",
        "bottom": "padding-bottom",
        "left":   "padding-left",
        "right":  "padding-right",
    );

// STYLES
    .padding {
        // GLOBAL
        // DEVICES
            @media #{$media-phone} {} //.PHONE
            @media #{$media-tablet} {} //.TABLET
            @media #{$media-desktop} {} //.DESKTOP

        // ALL SIDES
            @each $name, $value in $padding-sizes {
                &-#{$name} {
                    // GLOBAL
                        padding: $value !important;

                    // DEVICES
                        @media #{$media-phone} {} //.PHONE
                        @media #{$media-tablet} {} //.TABLET
                        @media #{$media-desktop} {} //.DESKTOP
                } //.PADDING-#{$name}
            } //@EACH PADDING-SIZES (ALL)

        // SINGLE DIRECTIONS
            @each $dir, $prop in $padding-directions {
                &-#{$dir} {
                    // GLOBAL
                    // DEVICES
                        @media #{$media-phone} {} //.PHONE
                        @media #{$media-tablet} {} //.TABLET
                        @media #{$media-desktop} {} //.DESKTOP

                    @each $name, $value in $padding-sizes {
                        &-#{$name} {
                            // GLOBAL
                                #{$prop}: $value !important;

                            // DEVICES
                                @media #{$media-phone} {} //.PHONE
                                @media #{$media-tablet} {} //.TABLET
                                @media #{$media-desktop} {} //.DESKTOP
                        } //.PADDING-#{$dir}-#{$name}
                    } //@EACH PADDING-SIZES (#{$dir})

                } //.PADDING-#{$dir}
            } //@EACH PADDING-DIRECTIONS

        // VERTICAL
            &-vertical {
                // GLOBAL
                // DEVICES
                    @media #{$media-phone} {} //.PHONE
                    @media #{$media-tablet} {} //.TABLET
                    @media #{$media-desktop} {} //.DESKTOP

                @each $name, $value in $padding-sizes {
                    &-#{$name} {
                        // GLOBAL
                            padding-top: $value !important;
                            padding-bottom: $value !important;

                        // DEVICES
                            @media #{$media-phone} {} //.PHONE
                            @media #{$media-tablet} {} //.TABLET
                            @media #{$media-desktop} {} //.DESKTOP
                    } //.PADDING-VERTICAL-#{$name}
                } //@EACH PADDING-SIZES (VERTICAL)

            } //.PADDING-VERTICAL

        // HORIZONTAL
            &-horizontal {
                // GLOBAL
                // DEVICES
                    @media #{$media-phone} {} //.PHONE
                    @media #{$media-tablet} {} //.TABLET
                    @media #{$media-desktop} {} //.DESKTOP

                @each $name, $value in $padding-sizes {
                    &-#{$name} {
                        // GLOBAL
                            padding-left: $value !important;
                            padding-right: $value !important;

                        // DEVICES
                            @media #{$media-phone} {} //.PHONE
                            @media #{$media-tablet} {} //.TABLET
                            @media #{$media-desktop} {} //.DESKTOP
                    } //.PADDING-HORIZONTAL-#{$name}
                } //@EACH PADDING-SIZES (HORIZONTAL)

            } //.PADDING-HORIZONTAL

    } //.PADDING